/*basic font*/
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/*navi font*/
@font-face {
  font-family: "HancomSans-Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomSans-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}
/*intro font*/
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/*강조 font*/
@font-face {
  font-family: "JalnanGothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
body {
  font-family: "Pretendard-Regular";
}

@media (min-width: 1000px) {
  html,
  body {
    font-size: 16px;
    background-color: rgb(23, 41, 34);
  }

  #intro {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    color: white;
    display: flex;
    background: url(../source/intro_bg.png) center no-repeat;
    background-size: cover;
    position: relative;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 999;
  }
  #intro h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    width: 100%;
    text-align: center;
    font-family: "GmarketSansMedium";
  }
  #intro span {
    display: inline-block;
  }
  #intro div {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(
      circle farthest-side,
      rgba(255, 249, 232, 0.687),
      transparent
    );
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.5s;
  }

  header {
    position: fixed;
    background-color: rgba(76, 70, 55, 0.5);
    padding: 1rem;
    color: rgb(255, 249, 232);
    top: 1.5rem;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "HancomSans-Light";
    box-shadow: rgba(37, 37, 37, 0.3) 0px 0px 1.2rem;
    display: none;
  }
  header ul {
    display: flex;
  }
  header li {
    border: 1px dashed transparent;
    border-radius: 45px;
    font-size: 1.2rem;
    width: 130px;
    text-align: center;
  }
  header li:first-child {
    border-color: rgb(255, 249, 232);
  }
  header a {
    display: block;
    padding: 0.5rem 0rem;
    transition: 0.5s;
    border-radius: 45px;
  }
  header a:hover {
    background-color: rgb(37, 37, 37);
  }

  #home {
    width: 100%;
    height: 100vh;
    color: rgb(255, 249, 232);
    position: relative;
  }
  #home .lines {
    width: 100%;
    height: 100%;
    border: 5px solid red;
    box-sizing: border-box;
    position: relative;
  }
  #home .lineX,
  #home .lineY {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
  }
  #home .lineX li {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed rgb(255, 249, 232);
    position: absolute;
    border-radius: 10px;
  }
  #home .lineX li:nth-child(1) {
    top: 2%;
  }
  #home .lineX li:nth-child(2) {
    top: 28%;
  }
  #home .lineX li:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
  }
  #home .lineX li:nth-child(4) {
    bottom: 27%;
  }
  #home .lineX li:nth-child(5) {
    bottom: 2%;
  }
  #home .lineY li {
    width: 1px;
    height: 100%;
    border-left: 1px dashed rgb(255, 249, 232);
    position: absolute;
  }
  #home .lineY li:nth-child(1) {
    left: 5%;
  }
  #home .lineY li:nth-child(2) {
    left: 27%;
  }
  #home .lineY li:nth-child(3) {
    left: 50%;
    transform: translateX(-50%);
  }
  #home .lineY li:nth-child(4) {
    right: 27%;
  }
  #home .lineY li:nth-child(5) {
    right: 5%;
  }
  #home .wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    box-sizing: border-box;
  }
  #home .wrap .navi {
    width: 100%;
    display: flex;
    border-bottom: 1px dashed rgb(255, 249, 232);
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    font-family: "HancomSans-Light";
  }
  #home .wrap .navi li {
    text-align: center;
    width: 170px;
    border-right: 1px dashed rgb(255, 249, 232);
    background-color: rgb(76, 70, 55);
  }
  #home .wrap .navi li:first-child {
    border-left: 1px solid rgb(255, 249, 232);
  }
  #home .wrap .navi li a {
    display: block;
    padding: 1rem 0rem;
    transition: 0.5s;
    font-weight: bold;
  }
  #home .wrap .navi a:hover {
    background-color: rgb(255, 249, 232);
    color: rgb(76, 70, 55);
  }
  #home .wrap .title {
    position: absolute;
    top: 10rem;
    left: 8rem;
    font-family: "JalnanGothic";
    font-size: 7rem;
  }
  #home .wrap .title .inner {
    margin-top: 2rem;
    margin-left: 15rem;
  }
  #home .wrap .text {
    position: absolute;
    top: 10rem;
    right: 6rem;
    font-size: 2rem;
    text-align: right;
  }
  #home .wrap .text strong {
    font-size: 3rem;
  }
  #home .wrap .imgWrap {
    display: flex;
    position: absolute;
    bottom: 2rem;
    right: 6rem;
    gap: 2rem;
  }
  #home .wrap .imgWrap li {
    width: 250px;
    height: 250px;
    border-radius: 3rem;
    background-color: orange;
  }
  #aboutMe {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 249, 232);
  }

  #logo {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 220, 0);
  }

  #workDesign {
    width: 100%;
    height: 100vh;
    background-color: rgb(27, 61, 47);
  }

  #workCoding {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 249, 232);
  }

  #project {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(255, 249, 232), rgb(158, 144, 101));
  }

  #contact {
    width: 100%;
    height: 100vh;
    background-color: rgb(76, 70, 55);
  }
}
